In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# from scipy import stats
# import warnings
# warnings.filterwarnings('ignore')

In [7]:
import os

# Set working directory to current folder
os.getcwd()
os.chdir("D:\\Academic\\BSc (External) Applied Data Analytics\\Year 02\\Semester 02\\DA 2015 - Statistics Laboratory II\\Project\\DA2015-Project")

# Confirm it worked
print("Current working directory:", os.getcwd())

Current working directory: D:\Academic\BSc (External) Applied Data Analytics\Year 02\Semester 02\DA 2015 - Statistics Laboratory II\Project\DA2015-Project

In [8]:
# Import boston dataset

df = pd.read_csv("Boston.csv")

print("Dataset imported successfully!")
print(f"Dataset shape: {df.shape}")
df.head()

Dataset imported successfully!
Dataset shape: (506, 15)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
# Display basic information about the dataset
print("DATASET INFORMATION")
df.info()

DATASET INFORMATION
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  black       506 non-null    float64
 13  lstat       506 non-null    float64
 14  medv        506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

In [11]:
# Check for missing values
print("MISSING VALUES CHECK")
missing_values = df.isnull().sum()
print(missing_values)

print(f"\nTotal missing values: {missing_values.sum()}")

MISSING VALUES CHECK
Unnamed: 0    0
crim          0
zn            0
indus         0
chas          0
nox           0
rm            0
age           0
dis           0
rad           0
tax           0
ptratio       0
black         0
lstat         0
medv          0
dtype: int64

Total missing values: 0

In [14]:
# Check for duplicate rows
print("DUPLICATE ROWS CHECK")
duplicates = df.duplicated().sum()

print(f"Number of duplicate rows: {duplicates}")

DUPLICATE ROWS CHECK
Number of duplicate rows: 0

In [15]:
# Detect outliers using IQR method
print("OUTLIER DETECTION (IQR METHOD)")

def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]
    return outliers, lower_bound, upper_bound

outlier_summary = []

for column in df.columns:
    outliers, lower, upper = detect_outliers_iqr(df, column)
    outlier_summary.append({
        'Variable': column,
        'Outlier_Count': len(outliers),
        'Percentage': round((len(outliers) / len(df)) * 100, 2),
        'Lower_Bound': round(lower, 2),
        'Upper_Bound': round(upper, 2)
    })

outlier_df = pd.DataFrame(outlier_summary)
print(outlier_df)

OUTLIER DETECTION (IQR METHOD)
      Variable  Outlier_Count  Percentage  Lower_Bound  Upper_Bound
0   Unnamed: 0              0        0.00      -251.50       758.50
1         crim             66       13.04        -5.31         9.07
2           zn             68       13.44       -18.75        31.25
3        indus              0        0.00       -14.18        37.47
4         chas             35        6.92         0.00         0.00
5          nox              0        0.00         0.19         0.89
6           rm             30        5.93         4.78         7.73
7          age              0        0.00       -28.55       167.65
8          dis              5        0.99        -2.53         9.82
9          rad              0        0.00       -26.00        54.00
10         tax              0        0.00      -301.50      1246.50
11     ptratio             15        2.96        13.20        24.40
12       black             77       15.22       344.11       427.50
13       lstat              7        1.38        -8.06        31.96
14        medv             40        7.91         5.06        36.96

In [18]:
#handle outliers using capping method
print("CAPPING OUTLIERS")

for column in df:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df[column] = np.where(
        df[column] < lower_bound,
        lower_bound,
        df[column]
    )
    
    df[column] = np.where(
        df[column] > upper_bound,
        upper_bound,
        df[column]
    )

print("Outliers capped successfully!")
print(f"Final cleaned dataset shape: {df.shape}")

CAPPING OUTLIERS
Outliers capped successfully!
Final cleaned dataset shape: (506, 15)

In [19]:
#check if outliers handled correctly
def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]
    return outliers, lower_bound, upper_bound

outlier_summary = []

for column in df.columns:
    outliers, lower, upper = detect_outliers_iqr(df, column)
    outlier_summary.append({
        'Variable': column,
        'Outlier_Count': len(outliers),
        'Percentage': round((len(outliers) / len(df)) * 100, 2),
        'Lower_Bound': round(lower, 2),
        'Upper_Bound': round(upper, 2)
    })

outlier_df = pd.DataFrame(outlier_summary)
print(outlier_df)

      Variable  Outlier_Count  Percentage  Lower_Bound  Upper_Bound
0   Unnamed: 0              0         0.0      -251.50       758.50
1         crim              0         0.0        -5.31         9.07
2           zn              0         0.0       -18.75        31.25
3        indus              0         0.0       -14.18        37.47
4         chas              0         0.0         0.00         0.00
5          nox              0         0.0         0.19         0.89
6           rm              0         0.0         4.78         7.73
7          age              0         0.0       -28.55       167.65
8          dis              0         0.0        -2.53         9.82
9          rad              0         0.0       -26.00        54.00
10         tax              0         0.0      -301.50      1246.50
11     ptratio              0         0.0        13.20        24.40
12       black              0         0.0       344.11       427.50
13       lstat              0         0.0        -8.06        31.96
14        medv              0         0.0         5.06        36.96

In [20]:
# Save the cleaned dataset
print("SAVING CLEANED DATASET")

df.to_csv('boston_housing_cleaned.csv', index=False)
print("Saved as 'boston_housing_cleaned.csv'")

SAVING CLEANED DATASET
Saved as 'boston_housing_cleaned.csv'